{
  "openapi": "3.0.0",
  "info": {
    "title": "Wherefour API",
    "version": "1.0.11",
    "description": "API documentation for the Wherefour ERP/traceability platform. More information at: [wherefour.com](https://wherefour.com).",
    "termsOfService": "https://my.wherefour.com/terms_of_service",
    "contact": {
      "email": "noreply@wherefour.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": ""
    }
  },
  "servers": [
    {
      "url": "https://my.wherefour.com/api/v1",
      "description": "Production base URL"
    },
    {
      "url": "https://sandbox.wherefour.com/api/v1",
      "description": "Sandbox base URL"
    }
  ],
  "paths": {
    "/categories": {
      "get": {
        "summary": "List Categories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "Get categories",
        "description": "Returns a list of inventory categories, ordered by name.",
        "tags": [
          "Categories"
        ]
      }
    },
    "/inventory": {
      "get": {
        "summary": "List Inventory Items",
        "tags": [
          "Inventory"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inventory"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "name": "Whole milk",
                      "category_name": "Ingredients",
                      "on_hand": "1410.0",
                      "unit_of_use": "gallon",
                      "unit_of_purchase": "gallon",
                      "unit_of_order": "gallon",
                      "unit_of_invoice": "gallon",
                      "unit_of_pick_and_ship": "gallon",
                      "unit_of_weight": null,
                      "unit_of_dimension": null,
                      "purchase_conversion": "1.0",
                      "property": "raw_material",
                      "sku": null,
                      "pull_strategy": "Hand Pick",
                      "reorder_point": "50.0",
                      "lead_time": 1,
                      "retired": false,
                      "waste_percentage": "0.0",
                      "quantity_not_tracked": false,
                      "conversions": [],
                      "weight": null,
                      "height": null,
                      "width": null,
                      "length": null,
                      "created_at": "2021-08-23T14:08:17.077Z",
                      "updated_at": "2021-08-23T14:08:17.077Z",
                      "custom_field_values": [
                        {
                          "id": 1,
                          "custom_field_id": 1,
                          "inventory_id": 1,
                          "active_stock_id": null,
                          "value": "1",
                          "value_type": "number",
                          "created_at": "2021-08-23T14:25:37.200Z",
                          "updated_at": "2021-08-23T14:25:37.200Z",
                          "custom_field": {
                            "id": 1,
                            "name": "Test",
                            "value_type": "number",
                            "created_at": "2021-08-23T14:25:21.663Z",
                            "updated_at": "2021-08-23T14:25:21.663Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created"
          }
        },
        "operationId": "Get inventory items",
        "description": "Returns a paginated list of all inventory items."
      },
      "post": {
        "summary": "Create inventory item",
        "tags": [
          "Inventory"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "Create inventory item",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "category_id": {
                    "type": "number"
                  },
                  "unit_of_use": {
                    "type": "string",
                    "minLength": 1
                  },
                  "unit_of_purchase": {
                    "type": "string",
                    "minLength": 1
                  },
                  "unit_of_order": {
                    "type": "string",
                    "minLength": 1
                  },
                  "unit_of_invoice": {
                    "type": "string",
                    "minLength": 1
                  },
                  "unit_of_pick_and_ship": {
                    "type": "string",
                    "minLength": 1
                  },
                  "unit_of_weight": {},
                  "unit_of_dimension": {},
                  "purchase_conversion": {
                    "type": "string",
                    "minLength": 1
                  },
                  "property": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sku": {},
                  "pull_strategy": {
                    "type": "string",
                    "minLength": 1
                  },
                  "reorder_point": {
                    "type": "string",
                    "minLength": 1
                  },
                  "lead_time": {
                    "type": "number"
                  },
                  "retired": {
                    "type": "boolean"
                  },
                  "waste_percentage": {
                    "type": "string",
                    "minLength": 1
                  },
                  "quantity_not_tracked": {
                    "type": "boolean"
                  },
                  "weight": {},
                  "height": {},
                  "width": {},
                  "length": {}
                },
                "required": [
                  "name",
                  "category_id",
                  "unit_of_use",
                  "unit_of_purchase",
                  "unit_of_order",
                  "unit_of_invoice",
                  "unit_of_pick_and_ship",
                  "purchase_conversion",
                  "property",
                  "pull_strategy",
                  "reorder_point",
                  "lead_time",
                  "retired",
                  "waste_percentage",
                  "quantity_not_tracked"
                ],
                "x-examples": {
                  "example-1": {
                    "name": "Whole milk",
                    "category_id": 1,
                    "unit_of_use": "gallon",
                    "unit_of_purchase": "gallon",
                    "unit_of_order": "gallon",
                    "unit_of_invoice": "gallon",
                    "unit_of_pick_and_ship": "gallon",
                    "unit_of_weight": null,
                    "unit_of_dimension": null,
                    "purchase_conversion": "1.0",
                    "property": "raw_material",
                    "sku": null,
                    "pull_strategy": "Hand Pick",
                    "reorder_point": "50.0",
                    "lead_time": 1,
                    "retired": false,
                    "waste_percentage": "0.0",
                    "quantity_not_tracked": false,
                    "weight": null,
                    "height": null,
                    "width": null,
                    "length": null
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new inventory item with the provided parameters."
      }
    },
    "/inventory/{inventory_id}/stocks": {
      "post": {
        "summary": "Add Stock Lot",
        "operationId": "Add stock",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inventory"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 39,
                      "user_id": 1,
                      "inventory_id": 4,
                      "location_id": 1,
                      "lot_code": "1234",
                      "status": "active",
                      "barcode": null,
                      "details": "New",
                      "note": "This is a note!",
                      "count": "100.0",
                      "cost": "100.0",
                      "vendor_id": 1,
                      "expiration_date": "2020-04-01",
                      "created_at": "2020-09-12T18:25:13.143Z",
                      "updated_at": "2020-09-12T18:25:13.143Z",
                      "base_count": "100.0",
                      "rate": null,
                      "purchase_id": null,
                      "metrc_package_id": null,
                      "global_identifier": null,
                      "organization_id": 1
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Adds a new stock lot to the specified inventory item.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inventory"
              },
              "examples": {
                "Example": {
                  "value": {
                    "location_id": 1,
                    "lot_code": "1234",
                    "barcode": null,
                    "details": "New",
                    "note": "This is a note!",
                    "cost": "100.0",
                    "vendor_id": 1,
                    "expiration_date": "4/1/20",
                    "base_count": "100.0"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Inventory"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "inventory_id",
          "in": "path",
          "required": true,
          "description": "inventory item record ID"
        }
      ]
    },
    "/inventory/last_adjustment": {
      "get": {
        "summary": "Get Last Stock Lot Change",
        "tags": [
          "Inventory"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "user_id": 1,
                      "user_first_name": "Tony",
                      "user_last_name": "Fiorello",
                      "reason": "purchase",
                      "lot_code": "WM001",
                      "old_lot_code": "WM001",
                      "barcode": "WM-000001-18",
                      "old_barcode": "WM-000001-18",
                      "details": "Whole milk",
                      "rate": null,
                      "cost": "200.0",
                      "count": "100.0",
                      "change": "100.0",
                      "absolute_change": "100.0",
                      "note": "buy lot 1",
                      "work_order": null,
                      "expiration_date": "2020-05-31",
                      "created_at": "2020-09-11T13:57:47.026Z",
                      "updated_at": "2020-09-11T13:57:47.026Z",
                      "stock": {
                        "id": 1,
                        "name": "Whole milk",
                        "lot_code": "WM001",
                        "status": "active",
                        "barcode": "WM-000001-18",
                        "details": "Whole milk",
                        "note": "buy lot WM001",
                        "count": "100.0",
                        "cost": "200.0",
                        "expiration_date": "2020-10-11",
                        "created_at": "2020-09-11T13:57:47.058Z",
                        "updated_at": "2020-09-11T13:57:47.058Z",
                        "inventory": {
                          "id": 1,
                          "name": "Whole milk",
                          "category_name": "Ingredients",
                          "on_hand": "1410.0",
                          "unit_of_use": "gallon",
                          "unit_of_purchase": "gallon",
                          "property": "raw_material",
                          "sku": null,
                          "created_at": "2020-09-11T13:57:46.825Z",
                          "updated_at": "2020-09-11T13:57:46.825Z"
                        },
                        "location": {
                          "id": 1,
                          "name": "North Warehouse"
                        },
                        "vendor": {
                          "id": 1,
                          "first_name": "Joe",
                          "last_name": "Sample",
                          "display_name": "Pacific Foods Co.",
                          "email": "jsample@pacificfoods.com",
                          "phone": "415-555-6758",
                          "mobile": null,
                          "fax": null,
                          "website": "https://wherefour.com",
                          "note": null,
                          "kind": "distributor",
                          "created_at": "2020-09-11T13:57:47.005Z",
                          "updated_at": "2020-09-11T13:57:47.005Z",
                          "custom_field_1": null,
                          "custom_field_2": null,
                          "custom_field_3": null,
                          "custom_field_4": null,
                          "business_license_number": null
                        },
                        "purchase": null
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Get last inventory change",
        "description": "Gets the last stock lot change for the specified inventory item."
      }
    },
    "/inventory/search": {
      "get": {
        "summary": "Search for Inventory Item",
        "tags": [
          "Inventory"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inventory"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 3,
                      "name": "Bulk chocolate",
                      "category_name": "Ingredients",
                      "on_hand": "0.0",
                      "unit_of_use": "pound",
                      "unit_of_purchase": "pound",
                      "purchase_conversion": "1.0",
                      "property": "work_in_progress",
                      "sku": "",
                      "pull_strategy": "Hand Pick",
                      "reorder_point": "10.0",
                      "lead_time": 0,
                      "retired": false,
                      "waste_percentage": "0.0",
                      "created_at": "2020-09-11T13:57:46.825Z",
                      "updated_at": "2020-09-11T13:57:46.825Z"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Search inventory",
        "description": "Returns inventory items that match the given name or SKU. Multiple matches may be returned.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Name": {
                  "value": {
                    "name": "Product Name Here"
                  }
                },
                "Single SKU": {
                  "value": {
                    "sku_list": "123456"
                  }
                },
                "Multiple SKUs": {
                  "value": {
                    "sku_list": [
                      "SK001",
                      "SK002"
                    ]
                  }
                }
              }
            }
          },
          "description": "Search can be performed based on EITHER the inventory item name, OR a single SKU or an array of SKUs. The inventory item name will take precedence over the SKU parameter. Multiple matches may be returned."
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "List Customers",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "first_name": "",
                      "last_name": "",
                      "display_name": "Embarcadero Market & Deli",
                      "email": "buyer@embarcaderodeli.com",
                      "phone": "415-555-6687",
                      "mobile": "",
                      "fax": "",
                      "website": "https://wherefour.com",
                      "kind": "retailer",
                      "created_at": "2020-09-11T13:57:46.742Z",
                      "updated_at": "2020-09-11T13:57:46.742Z",
                      "payment_terms": "Net 30",
                      "delivery_method": "Route: Embarcadero North",
                      "billing_address": {
                        "id": 1,
                        "line1": "1142 Main Street",
                        "line2": "Suite 100",
                        "city": "San Francisco",
                        "country_subdivision_code": "CA",
                        "postal_code": "94455",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      },
                      "shipping_address": {
                        "id": 2,
                        "line1": "415 S. Pine Street",
                        "line2": "Suite 210",
                        "line3": "Apt. G",
                        "city": "Petaluma",
                        "country_subdivision_code": "CA",
                        "postal_code": "94954",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Get customers",
        "description": "Returns a paginated list of customers."
      },
      "post": {
        "summary": "Create a Customer",
        "operationId": "Create a customer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 1,
                      "first_name": "",
                      "last_name": "",
                      "display_name": "Embarcadero Market & Deli",
                      "email": "buyer@embarcaderodeli.com",
                      "phone": "415-555-6687",
                      "mobile": "",
                      "fax": "",
                      "website": "https://wherefour.com",
                      "kind": "retailer",
                      "created_at": "2020-09-11T13:57:46.742Z",
                      "updated_at": "2020-09-11T13:57:46.742Z",
                      "payment_terms": "Net 30",
                      "delivery_method": "Route: Embarcadero North",
                      "billing_address": {
                        "id": 1,
                        "line1": "1142 Main Street",
                        "line2": "Suite 100",
                        "city": "San Francisco",
                        "country_subdivision_code": "CA",
                        "postal_code": "94455",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      },
                      "shipping_address": {
                        "id": 2,
                        "line1": "415 S. Pine Street",
                        "line2": "Suite 210",
                        "line3": "Apt. G",
                        "city": "Petaluma",
                        "country_subdivision_code": "CA",
                        "postal_code": "94954",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new customer record.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "customer": {
                      "first_name": "John",
                      "middle_name": null,
                      "last_name": "Smith",
                      "display_name": "John Smith",
                      "email": "test@example.com",
                      "phone": "555-1212",
                      "mobile": "555-2222",
                      "fax": "555-3333",
                      "website": "https://website.com",
                      "note": "This is a customer note.",
                      "custom_field_1": null,
                      "custom_field_2": null,
                      "custom_field_3": null,
                      "custom_field_4": null,
                      "business_license_number": "123",
                      "billing_address_attributes": {
                        "line1": "123 Main",
                        "line2": null,
                        "line3": null,
                        "line4": null,
                        "line5": null,
                        "city": null,
                        "country_subdivision_code": null,
                        "postal_code": null,
                        "country": null
                      },
                      "shipping_address_attributes": {
                        "line1": "555 Main",
                        "line2": null,
                        "line3": null,
                        "line4": null,
                        "line5": null,
                        "city": null,
                        "country_subdivision_code": null,
                        "postal_code": null,
                        "country": null
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers/{customer_id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "customer record ID"
        }
      ],
      "get": {
        "summary": "Get Customer",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "first_name": "",
                      "last_name": "",
                      "display_name": "Embarcadero Market & Deli",
                      "email": "buyer@embarcaderodeli.com",
                      "phone": "415-555-6687",
                      "mobile": "",
                      "fax": "",
                      "website": "https://wherefour.com",
                      "kind": "retailer",
                      "created_at": "2020-09-11T13:57:46.742Z",
                      "updated_at": "2020-09-11T13:57:46.742Z",
                      "payment_terms": "Net 30",
                      "delivery_method": "Route: Embarcadero North",
                      "billing_address": {
                        "id": 1,
                        "line1": "1142 Main Street",
                        "line2": "Suite 100",
                        "city": "San Francisco",
                        "country_subdivision_code": "CA",
                        "postal_code": "94455",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      },
                      "shipping_address": {
                        "id": 2,
                        "line1": "415 S. Pine Street",
                        "line2": "Suite 210",
                        "line3": "Apt. G",
                        "city": "Petaluma",
                        "country_subdivision_code": "CA",
                        "postal_code": "94954",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Get customer",
        "description": "Returns the customer record for the specified ID."
      },
      "patch": {
        "summary": "Update a Customer",
        "operationId": "Update a customer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                }
              }
            }
          }
        },
        "description": "Updates the customer record for the specified ID.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Example": {
                  "value": {
                    "customer": {
                      "first_name": "John",
                      "middle_name": null,
                      "last_name": "Smith",
                      "display_name": "John A Smith",
                      "email": "test@example.com",
                      "phone": "555-1212",
                      "mobile": "555-2222",
                      "fax": "555-3333",
                      "website": "https://website.com",
                      "note": "This is a customer note.",
                      "custom_field_1": null,
                      "custom_field_2": null,
                      "custom_field_3": null,
                      "custom_field_4": null,
                      "business_license_number": "123",
                      "billing_address_attributes": {
                        "line1": "123 Main",
                        "line2": null,
                        "line3": null,
                        "line4": null,
                        "line5": null,
                        "city": null,
                        "country_subdivision_code": null,
                        "postal_code": null,
                        "country": null
                      },
                      "shipping_address_attributes": {
                        "line1": "555 Main",
                        "line2": null,
                        "line3": null,
                        "line4": null,
                        "line5": null,
                        "city": null,
                        "country_subdivision_code": null,
                        "postal_code": null,
                        "country": null
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers/{customer_id}/orders/": {
      "summary": "Create order",
      "description": "Creates a new order for a customer",
      "post": {
        "tags": [
          "Orders"
        ],
        "description": "Creates a new order for the customer.",
        "summary": "Create Order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Example": {
                  "value": {
                    "order_number": "SO100",
                    "order_date": "2020-09-04",
                    "deliver_date": "2020-09-04",
                    "produce_date": "2020-09-04",
                    "po_number": "12345",
                    "payment_term_id": null,
                    "status": "open",
                    "salesperson_id": null,
                    "payment_terms": null,
                    "delivery_method_id": 1,
                    "instructions": null,
                    "subtotal": 100,
                    "discount": 0,
                    "tax": 0,
                    "shipping": 0,
                    "total": 0,
                    "order_items_attributes": [
                      {
                        "inventory_id": 4,
                        "count": 10,
                        "unit_price": 100,
                        "override_unit_price": 0
                      },
                      {
                        "inventory_id": 6,
                        "count": 5,
                        "unit_price": 0,
                        "override_unit_price": 0
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 14,
                      "order_date": "2020-09-04",
                      "produce_date": "2020-09-04",
                      "deliver_date": "2020-09-04",
                      "po_number": "12345",
                      "status": "open",
                      "instructions": "",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "order_number": "SO100",
                      "created_at": "2020-09-12T18:25:54.054Z",
                      "updated_at": "2020-09-12T18:25:54.054Z",
                      "invoiced_at": "2020-09-12T18:25:54.054Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "note": "",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "custom_field_1": "",
                        "custom_field_2": "",
                        "custom_field_3": "",
                        "custom_field_4": "",
                        "business_license_number": "",
                        "payment_terms": "Net 30",
                        "salesperson": "",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "line3": "",
                          "line4": "",
                          "line5": "",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "country": "",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "line4": "",
                          "line5": "",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "country": "",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping",
                        "instructions": ""
                      },
                      "salesperson": "",
                      "payment_term": "",
                      "order_items": [
                        {
                          "id": 28,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "10.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T18:25:54.062Z",
                          "updated_at": "2020-09-12T18:25:54.062Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "1165.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "purchase_conversion": "1.0",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "pull_strategy": "FEFO",
                            "reorder_point": "0.0",
                            "lead_time": 0,
                            "retired": false,
                            "waste_percentage": "0.0",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        },
                        {
                          "id": 29,
                          "name": "Chocolate bar, finished case",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "5.0",
                          "cost": "0.0",
                          "sku": "SK0002",
                          "created_at": "2020-09-12T18:25:54.066Z",
                          "updated_at": "2020-09-12T18:25:54.066Z",
                          "inventory": {
                            "id": 6,
                            "name": "Chocolate bar, finished case",
                            "category_name": "Products",
                            "on_hand": "0.0",
                            "unit_of_use": "case",
                            "unit_of_purchase": "case",
                            "purchase_conversion": "1.0",
                            "property": "finished_good",
                            "sku": "SK0002",
                            "pull_strategy": "FIFO",
                            "reorder_point": "0.0",
                            "lead_time": 0,
                            "retired": false,
                            "waste_percentage": "0.0",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "id": 14,
                        "order_date": "2020-09-04",
                        "produce_date": "2020-09-04",
                        "deliver_date": "2020-09-04",
                        "po_number": "12345",
                        "status": "open",
                        "instructions": null,
                        "subtotal": "100.0",
                        "discount": "0.0",
                        "tax": "0.0",
                        "shipping": "0.0",
                        "total": "0.0",
                        "order_number": "SO100",
                        "created_at": "2020-09-12T18:25:54.054Z",
                        "updated_at": "2020-09-12T18:25:54.054Z",
                        "invoiced_at": null,
                        "customer": {
                          "id": 1,
                          "first_name": "",
                          "last_name": "",
                          "display_name": "Embarcadero Market & Deli",
                          "email": "buyer@embarcaderodeli.com",
                          "phone": "415-555-6687",
                          "mobile": "",
                          "fax": "",
                          "website": "https://wherefour.com",
                          "note": null,
                          "kind": "retailer",
                          "created_at": "2020-09-11T13:57:46.742Z",
                          "updated_at": "2020-09-11T13:57:46.742Z",
                          "custom_field_1": null,
                          "custom_field_2": null,
                          "custom_field_3": null,
                          "custom_field_4": null,
                          "business_license_number": null,
                          "payment_terms": "Net 30",
                          "salesperson": null,
                          "delivery_method": "Route: Embarcadero North",
                          "billing_address": {
                            "id": 1,
                            "line1": "1142 Main Street",
                            "line2": "Suite 100",
                            "line3": null,
                            "line4": null,
                            "line5": null,
                            "city": "San Francisco",
                            "country_subdivision_code": "CA",
                            "postal_code": "94455",
                            "country": null,
                            "created_at": "2020-09-11T13:57:46.802Z",
                            "updated_at": "2020-09-11T13:57:46.802Z"
                          },
                          "shipping_address": {
                            "id": 2,
                            "line1": "415 S. Pine Street",
                            "line2": "Suite 210",
                            "line3": "Apt. G",
                            "line4": null,
                            "line5": null,
                            "city": "Petaluma",
                            "country_subdivision_code": "CA",
                            "postal_code": "94954",
                            "country": null,
                            "created_at": "2020-09-11T13:57:46.802Z",
                            "updated_at": "2020-09-11T13:57:46.802Z"
                          }
                        },
                        "delivery_method": {
                          "id": 1,
                          "name": "UPS Ground",
                          "kind": "shipping",
                          "instructions": null
                        },
                        "salesperson": null,
                        "payment_term": null,
                        "order_items": [
                          {
                            "id": 28,
                            "name": "Chocolate bar",
                            "inventory_id": 4,
                            "category_name": "Products",
                            "count": "10.0",
                            "cost": "0.0",
                            "sku": "SK0001",
                            "created_at": "2020-09-12T18:25:54.062Z",
                            "updated_at": "2020-09-12T18:25:54.062Z",
                            "inventory": {
                              "id": 4,
                              "name": "Chocolate bar",
                              "category_name": "Products",
                              "on_hand": "1165.0",
                              "unit_of_use": "each",
                              "unit_of_purchase": "each",
                              "purchase_conversion": "1.0",
                              "property": "finished_good",
                              "sku": "SK0001",
                              "pull_strategy": "FEFO",
                              "reorder_point": "0.0",
                              "lead_time": 0,
                              "retired": false,
                              "waste_percentage": "0.0",
                              "created_at": "2020-09-11T13:57:46.825Z",
                              "updated_at": "2020-09-11T13:57:46.825Z"
                            }
                          },
                          {
                            "id": 29,
                            "name": "Chocolate bar, finished case",
                            "inventory_id": 6,
                            "category_name": "Products",
                            "count": "5.0",
                            "cost": "0.0",
                            "sku": "SK0002",
                            "created_at": "2020-09-12T18:25:54.066Z",
                            "updated_at": "2020-09-12T18:25:54.066Z",
                            "inventory": {
                              "id": 6,
                              "name": "Chocolate bar, finished case",
                              "category_name": "Products",
                              "on_hand": "0.0",
                              "unit_of_use": "case",
                              "unit_of_purchase": "case",
                              "purchase_conversion": "1.0",
                              "property": "finished_good",
                              "sku": "SK0002",
                              "pull_strategy": "FIFO",
                              "reorder_point": "0.0",
                              "lead_time": 0,
                              "retired": false,
                              "waste_percentage": "0.0",
                              "created_at": "2020-09-11T13:57:46.825Z",
                              "updated_at": "2020-09-11T13:57:46.825Z"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "Create an order"
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "customer record ID"
        }
      ],
      "x-last-modified": 1599932642974
    },
    "/customers/{customer_id}/invoices/": {
      "summary": "Create invoice",
      "description": "Creates a new invoice for a customer",
      "post": {
        "tags": [
          "Invoices"
        ],
        "description": "Creates a new invoice for the customer.",
        "summary": "Create Invoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Example": {
                  "value": {
                    "invoice_number": "INV100",
                    "invoice_date": "2020-09-04",
                    "payment_term_id": null,
                    "status": "open",
                    "salesperson_id": null,
                    "payment_terms": null,
                    "delivery_method_id": 1,
                    "instructions": null,
                    "subtotal": 100,
                    "discount": 0,
                    "tax": 0,
                    "shipping": 0,
                    "total": 0,
                    "invoice_items_attributes": [
                      {
                        "inventory_id": 4,
                        "count": 10,
                        "unit_price": 100,
                        "override_unit_price": 0
                      },
                      {
                        "inventory_id": 6,
                        "count": 5,
                        "unit_price": 0,
                        "override_unit_price": 0
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 14,
                      "invoice_date": "2020-09-04",
                      "po_number": "12345",
                      "status": "open",
                      "instructions": "",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "invoice_number": "INV100",
                      "created_at": "2020-09-12T18:25:54.054Z",
                      "updated_at": "2020-09-12T18:25:54.054Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "note": "",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "custom_field_1": "",
                        "custom_field_2": "",
                        "custom_field_3": "",
                        "custom_field_4": "",
                        "business_license_number": "",
                        "payment_terms": "Net 30",
                        "salesperson": "",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "line3": "",
                          "line4": "",
                          "line5": "",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "country": "",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "line4": "",
                          "line5": "",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "country": "",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping",
                        "instructions": ""
                      },
                      "salesperson": "",
                      "payment_term": "",
                      "invoice_items": [
                        {
                          "id": 28,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "10.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T18:25:54.062Z",
                          "updated_at": "2020-09-12T18:25:54.062Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "1165.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "purchase_conversion": "1.0",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "pull_strategy": "FEFO",
                            "reorder_point": "0.0",
                            "lead_time": 0,
                            "retired": false,
                            "waste_percentage": "0.0",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        },
                        {
                          "id": 29,
                          "name": "Chocolate bar, finished case",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "5.0",
                          "cost": "0.0",
                          "sku": "SK0002",
                          "created_at": "2020-09-12T18:25:54.066Z",
                          "updated_at": "2020-09-12T18:25:54.066Z",
                          "inventory": {
                            "id": 6,
                            "name": "Chocolate bar, finished case",
                            "category_name": "Products",
                            "on_hand": "0.0",
                            "unit_of_use": "case",
                            "unit_of_purchase": "case",
                            "purchase_conversion": "1.0",
                            "property": "finished_good",
                            "sku": "SK0002",
                            "pull_strategy": "FIFO",
                            "reorder_point": "0.0",
                            "lead_time": 0,
                            "retired": false,
                            "waste_percentage": "0.0",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "id": 14,
                        "invoice)date": "2020-09-04",
                        "po_number": "12345",
                        "status": "open",
                        "instructions": null,
                        "subtotal": "100.0",
                        "discount": "0.0",
                        "tax": "0.0",
                        "shipping": "0.0",
                        "total": "0.0",
                        "invoice_number": "INV100",
                        "created_at": "2020-09-12T18:25:54.054Z",
                        "updated_at": "2020-09-12T18:25:54.054Z",
                        "customer": {
                          "id": 1,
                          "first_name": "",
                          "last_name": "",
                          "display_name": "Embarcadero Market & Deli",
                          "email": "buyer@embarcaderodeli.com",
                          "phone": "415-555-6687",
                          "mobile": "",
                          "fax": "",
                          "website": "https://wherefour.com",
                          "note": null,
                          "kind": "retailer",
                          "created_at": "2020-09-11T13:57:46.742Z",
                          "updated_at": "2020-09-11T13:57:46.742Z",
                          "custom_field_1": null,
                          "custom_field_2": null,
                          "custom_field_3": null,
                          "custom_field_4": null,
                          "business_license_number": null,
                          "payment_terms": "Net 30",
                          "salesperson": null,
                          "delivery_method": "Route: Embarcadero North",
                          "billing_address": {
                            "id": 1,
                            "line1": "1142 Main Street",
                            "line2": "Suite 100",
                            "line3": null,
                            "line4": null,
                            "line5": null,
                            "city": "San Francisco",
                            "country_subdivision_code": "CA",
                            "postal_code": "94455",
                            "country": null,
                            "created_at": "2020-09-11T13:57:46.802Z",
                            "updated_at": "2020-09-11T13:57:46.802Z"
                          },
                          "shipping_address": {
                            "id": 2,
                            "line1": "415 S. Pine Street",
                            "line2": "Suite 210",
                            "line3": "Apt. G",
                            "line4": null,
                            "line5": null,
                            "city": "Petaluma",
                            "country_subdivision_code": "CA",
                            "postal_code": "94954",
                            "country": null,
                            "created_at": "2020-09-11T13:57:46.802Z",
                            "updated_at": "2020-09-11T13:57:46.802Z"
                          }
                        },
                        "delivery_method": {
                          "id": 1,
                          "name": "UPS Ground",
                          "kind": "shipping",
                          "instructions": null
                        },
                        "salesperson": null,
                        "payment_term": null,
                        "invoice_items": [
                          {
                            "id": 28,
                            "name": "Chocolate bar",
                            "inventory_id": 4,
                            "category_name": "Products",
                            "count": "10.0",
                            "cost": "0.0",
                            "sku": "SK0001",
                            "created_at": "2020-09-12T18:25:54.062Z",
                            "updated_at": "2020-09-12T18:25:54.062Z",
                            "inventory": {
                              "id": 4,
                              "name": "Chocolate bar",
                              "category_name": "Products",
                              "on_hand": "1165.0",
                              "unit_of_use": "each",
                              "unit_of_purchase": "each",
                              "purchase_conversion": "1.0",
                              "property": "finished_good",
                              "sku": "SK0001",
                              "pull_strategy": "FEFO",
                              "reorder_point": "0.0",
                              "lead_time": 0,
                              "retired": false,
                              "waste_percentage": "0.0",
                              "created_at": "2020-09-11T13:57:46.825Z",
                              "updated_at": "2020-09-11T13:57:46.825Z"
                            }
                          },
                          {
                            "id": 29,
                            "name": "Chocolate bar, finished case",
                            "inventory_id": 6,
                            "category_name": "Products",
                            "count": "5.0",
                            "cost": "0.0",
                            "sku": "SK0002",
                            "created_at": "2020-09-12T18:25:54.066Z",
                            "updated_at": "2020-09-12T18:25:54.066Z",
                            "inventory": {
                              "id": 6,
                              "name": "Chocolate bar, finished case",
                              "category_name": "Products",
                              "on_hand": "0.0",
                              "unit_of_use": "case",
                              "unit_of_purchase": "case",
                              "purchase_conversion": "1.0",
                              "property": "finished_good",
                              "sku": "SK0002",
                              "pull_strategy": "FIFO",
                              "reorder_point": "0.0",
                              "lead_time": 0,
                              "retired": false,
                              "waste_percentage": "0.0",
                              "created_at": "2020-09-11T13:57:46.825Z",
                              "updated_at": "2020-09-11T13:57:46.825Z"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "Create a invoice"
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "customer record ID"
        }
      ],
      "x-last-modified": 1599932642974
    },
    "/customers/{customer_id}/orders/{order_id}": {
      "summary": "Update order",
      "description": "Updates an existing order",
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "order_id",
          "in": "path",
          "required": true,
          "description": "order record ID"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "customer record ID"
        }
      ],
      "x-last-modified": 1599932318858,
      "patch": {
        "summary": "Update Order",
        "operationId": "Update an order",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 6,
                      "order_date": "2020-09-04",
                      "produce_date": "2020-09-04",
                      "deliver_date": "2020-09-04",
                      "po_number": "12345",
                      "status": "open",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "order_number": "SO100",
                      "created_at": "2020-09-12T16:13:45.549Z",
                      "updated_at": "2020-09-12T16:13:45.549Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "payment_terms": "Net 30",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping"
                      },
                      "order_items": [
                        {
                          "id": 10,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T16:13:45.568Z",
                          "updated_at": "2020-09-12T16:13:45.568Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "75.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        },
                        {
                          "id": 11,
                          "name": "Chocolate bar, finished case",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0002",
                          "created_at": "2020-09-12T16:13:45.574Z",
                          "updated_at": "2020-09-12T16:13:45.574Z",
                          "inventory": {
                            "id": 6,
                            "name": "Chocolate bar, finished case",
                            "category_name": "Products",
                            "on_hand": "40.0",
                            "unit_of_use": "case",
                            "unit_of_purchase": "case",
                            "property": "finished_good",
                            "sku": "SK0002",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 6,
                      "order_date": "2020-09-04",
                      "produce_date": "2020-09-04",
                      "deliver_date": "2020-09-04",
                      "po_number": "12345",
                      "status": "open",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "order_number": "SO100",
                      "created_at": "2020-09-12T16:13:45.549Z",
                      "updated_at": "2020-09-12T16:13:45.549Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "payment_terms": "Net 30",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping"
                      },
                      "order_items": [
                        {
                          "id": 10,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T16:13:45.568Z",
                          "updated_at": "2020-09-12T16:13:45.568Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "75.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        },
                        {
                          "id": 11,
                          "name": "Chocolate bar, finished case",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0002",
                          "created_at": "2020-09-12T16:13:45.574Z",
                          "updated_at": "2020-09-12T16:13:45.574Z",
                          "inventory": {
                            "id": 6,
                            "name": "Chocolate bar, finished case",
                            "category_name": "Products",
                            "on_hand": "40.0",
                            "unit_of_use": "case",
                            "unit_of_purchase": "case",
                            "property": "finished_good",
                            "sku": "SK0002",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates an existing order",
        "tags": [
          "Orders"
        ]
      }
    },
    "customers/{customer_id}/orders/{order_id}/last_shipment": {
      "summary": "Get the last shipment for an order",
      "description": "Returns the most recent shipment information for the order ID provided.",
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get Last Shipment",
        "description": "Returns the most recent shipment information for the order ID provided.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "order_id": 2,
                      "user_name": "Tony Fiorello",
                      "ship_date": "2020-09-12T16:48:00.000Z",
                      "shipment_number": 1,
                      "tracking_number": null,
                      "note": null,
                      "created_at": "2020-09-12T16:48:13.512Z",
                      "updated_at": "2020-09-12T16:48:13.512Z",
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping",
                        "instructions": ""
                      },
                      "order": {
                        "id": 2,
                        "order_date": "2020-09-10",
                        "produce_date": "2020-09-11",
                        "deliver_date": "2020-09-11",
                        "po_number": "123456-55",
                        "status": "invoiced",
                        "salesperson_id": null,
                        "salesperson_name": null,
                        "delivery_method_id": 1,
                        "instructions": "\nShipment #1: 09/12/20\n10.0 Each - Chocolate bar (lot code: SC-00000)\n40.0 Cases - Chocolate bar, finished case (lot code: SCC-0000)\n",
                        "subtotal": "1400.0",
                        "discount": "0.00",
                        "tax": "0.00",
                        "shipping": "0.00",
                        "total": "1400.0",
                        "order_number": "SO2",
                        "payment_term_id": 1,
                        "created_at": "2020-09-11T13:57:46.842Z",
                        "updated_at": "2020-09-12T16:48:13.688Z",
                        "invoiced_at": "2020-09-11T00:00:00.000Z"
                      },
                      "shipment_items": [
                        {
                          "id": 1,
                          "count": "10.0",
                          "inventory_name": "Chocolate bar",
                          "inventory_sku": "SK0001",
                          "auto_ship": [
                            {
                              "adjustment_id": 25,
                              "stock_id": 13,
                              "lot_code": "SC-00000",
                              "barcode": "CH-000001-18",
                              "count": "10.0",
                              "change": "-10.0",
                              "reason": "shipment"
                            }
                          ]
                        },
                        {
                          "id": 2,
                          "count": "40.0",
                          "inventory_name": "Chocolate bar, finished case",
                          "inventory_sku": "SK0002",
                          "auto_ship": [
                            {
                              "adjustment_id": 26,
                              "stock_id": 14,
                              "lot_code": "SCC-0000",
                              "barcode": "CHCA-000001-18",
                              "count": "40.0",
                              "change": "-40.0",
                              "reason": "shipment"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Get last shipment"
      },
      "x-last-modified": 1599932976163,
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "example": "",
          "required": true,
          "deprecated": false,
          "x-last-modified": 1599933001095,
          "schema": {
            "type": "integer"
          },
          "description": "customer record ID"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "order_id",
          "in": "path",
          "required": true,
          "description": "order record ID"
        }
      ]
    },
    "/customers/kinds": {
      "get": {
        "summary": "List Customer Kinds",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Example": {
                    "value": {}
                  }
                }
              }
            }
          }
        },
        "operationId": "Get customer kinds",
        "description": "Returns of list of customer types."
      }
    },
    "customers/{customer_id}/orders/{order_id}/shipments": {
      "summary": "List all the shipments for an order",
      "description": "Returns a paginated list of all the shipments for a specific order ID.",
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List shipments for order",
        "description": "Returns the most recent shipment information for the order ID provided.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "order_id": 2,
                      "user_name": "Tony Fiorello",
                      "ship_date": "2020-09-12T16:48:00.000Z",
                      "shipment_number": 1,
                      "tracking_number": null,
                      "note": null,
                      "created_at": "2020-09-12T16:48:13.512Z",
                      "updated_at": "2020-09-12T16:48:13.512Z",
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping",
                        "instructions": ""
                      },
                      "order": {
                        "id": 2,
                        "order_date": "2020-09-10",
                        "produce_date": "2020-09-11",
                        "deliver_date": "2020-09-11",
                        "po_number": "123456-55",
                        "status": "invoiced",
                        "salesperson_id": "",
                        "salesperson_name": "",
                        "delivery_method_id": 1,
                        "instructions": "\nShipment #1: 09/12/20\n10.0 Each - Chocolate bar (lot code: SC-00000)\n40.0 Cases - Chocolate bar, finished case (lot code: SCC-0000)\n",
                        "subtotal": "1400.0",
                        "discount": "",
                        "tax": "",
                        "shipping": "",
                        "total": "1400.0",
                        "order_number": "SO2",
                        "payment_term_id": 1,
                        "created_at": "2020-09-11T13:57:46.842Z",
                        "updated_at": "2020-09-12T16:48:13.688Z",
                        "invoiced_at": "2020-09-11T00:00:00.000Z"
                      },
                      "shipment_items": [
                        {
                          "id": 1,
                          "count": "10.0",
                          "inventory_name": "Chocolate bar",
                          "inventory_sku": "SK0001",
                          "auto_ship": [
                            {
                              "adjustment_id": 25,
                              "stock_id": 13,
                              "lot_code": "SC-00000",
                              "barcode": "CH-000001-18",
                              "count": "10.0",
                              "change": "-10.0",
                              "reason": "shipment"
                            }
                          ]
                        },
                        {
                          "id": 2,
                          "count": "40.0",
                          "inventory_name": "Chocolate bar, finished case",
                          "inventory_sku": "SK0002",
                          "auto_ship": [
                            {
                              "adjustment_id": 26,
                              "stock_id": 14,
                              "lot_code": "SCC-0000",
                              "barcode": "CHCA-000001-18",
                              "count": "40.0",
                              "change": "-40.0",
                              "reason": "shipment"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List shipments"
      },
      "x-last-modified": 1599933071181,
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "example": "",
          "required": true,
          "deprecated": false,
          "x-last-modified": 1599933090200,
          "schema": {
            "type": "integer"
          },
          "description": "customer record ID"
        },
        {
          "name": "order_id",
          "in": "path",
          "example": "",
          "required": true,
          "deprecated": false,
          "x-last-modified": 1599933098042,
          "schema": {
            "type": "integer"
          },
          "description": "order record ID"
        }
      ]
    },
    "/customers/{customer_id}/invoices/{invoice_id}": {
      "summary": "Update invoice",
      "description": "Updates an existing invoice",
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "invoice_id",
          "in": "path",
          "required": true,
          "description": "invoice record ID"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "customer record ID"
        }
      ],
      "x-last-modified": 1599932318858,
      "patch": {
        "summary": "Update Invoice",
        "operationId": "Update an invoice",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 6,
                      "invoice_date": "2020-09-04",
                      "status": "draft",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "invoice_number": "INV100",
                      "created_at": "2020-09-12T16:13:45.549Z",
                      "updated_at": "2020-09-12T16:13:45.549Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "payment_terms": "Net 30",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping"
                      },
                      "invoice_items": [
                        {
                          "id": 10,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T16:13:45.568Z",
                          "updated_at": "2020-09-12T16:13:45.568Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "75.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        },
                        {
                          "id": 11,
                          "name": "Chocolate bar, finished case",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0002",
                          "created_at": "2020-09-12T16:13:45.574Z",
                          "updated_at": "2020-09-12T16:13:45.574Z",
                          "inventory": {
                            "id": 6,
                            "name": "Chocolate bar, finished case",
                            "category_name": "Products",
                            "on_hand": "40.0",
                            "unit_of_use": "case",
                            "unit_of_purchase": "case",
                            "property": "finished_good",
                            "sku": "SK0002",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/invoice"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 6,
                      "invoice_date": "2020-09-04",
                      "status": "accepted",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "invoice_number": "INV100",
                      "created_at": "2020-09-12T16:13:45.549Z",
                      "updated_at": "2020-09-12T16:13:45.549Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "payment_terms": "Net 30",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping"
                      },
                      "invoice_items": [
                        {
                          "id": 10,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T16:13:45.568Z",
                          "updated_at": "2020-09-12T16:13:45.568Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "75.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        },
                        {
                          "id": 11,
                          "name": "Chocolate bar, finished case",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0002",
                          "created_at": "2020-09-12T16:13:45.574Z",
                          "updated_at": "2020-09-12T16:13:45.574Z",
                          "inventory": {
                            "id": 6,
                            "name": "Chocolate bar, finished case",
                            "category_name": "Products",
                            "on_hand": "40.0",
                            "unit_of_use": "case",
                            "unit_of_purchase": "case",
                            "property": "finished_good",
                            "sku": "SK0002",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates an existing invoice",
        "tags": [
          "Invoices"
        ]
      }
    },
    "/customers/{customer_id}/quotes": {
      "summary": "Create quote",
      "description": "Creates a new quote for a customer",
      "post": {
        "tags": [
          "Quotes"
        ],
        "description": "Creates a new quote for the customer.",
        "summary": "Create Quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Example": {
                  "value": {
                    "quote_number": "QO100",
                    "quote_date": "2020-09-04",
                    "expiration_date": "2020-09-04",
                    "payment_term_id": null,
                    "status": "open",
                    "salesperson_id": null,
                    "payment_terms": null,
                    "delivery_method_id": 1,
                    "instructions": null,
                    "subtotal": 100,
                    "discount": 0,
                    "tax": 0,
                    "shipping": 0,
                    "total": 0,
                    "quote_items_attributes": [
                      {
                        "inventory_id": 4,
                        "count": 10,
                        "unit_price": 100,
                        "override_unit_price": 0
                      },
                      {
                        "inventory_id": 6,
                        "count": 5,
                        "unit_price": 0,
                        "override_unit_price": 0
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
