{
  "openapi": "3.0.3",
  "info": {
    "title": "Wherefour API",
    "version": "1.0.18",
    "description": "API documentation for the Wherefour ERP/traceability platform. More information at: [wherefour.com](https://wherefour.com).",
    "termsOfService": "https://my.wherefour.com/terms_of_service",
    "contact": {
      "email": "noreply@wherefour.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": ""
    }
  },
  "servers": [
    {
      "url": "https://my.wherefour.com/api/v1",
      "description": "Production base URL"
    },
    {
      "url": "https://sandbox.wherefour.com/api/v1",
      "description": "Sandbox base URL"
    }
  ],
  "paths": {
    "/categories": {
      "get": {
        "summary": "List categories",
        "parameters": [
          {
             "in": "query",
             "name": "page",
             "description": "Results page to view",
             "schema": {
               "type": "integer"
             }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Total": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total count of results"
              },
              "Per-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of results per page"
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "URLs for the next or previous pages of the results"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get_categories",
        "description": "Returns a list of inventory categories, ordered by name.",
        "tags": [
          "Categories"
        ]
      }
    },
    "/inventory": {
      "get": {
        "summary": "List Inventory Items",
        "parameters": [
          {
             "in": "query",
             "name": "updated_at",
             "description": "Oldest date/time for the records to return",
             "schema": {
               "type": "string"
             }
          },
          {
             "in": "query",
             "name": "page",
             "description": "Results page to view",
             "schema": {
               "type": "integer"
             }
          }
        ],
        "tags": [
          "Inventory"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Total": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total count of results"
              },
              "Per-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of results per page"
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "URLs for the next or previous pages of the results"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inventory"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 56,
                      "name": "New inventory item",
                      "category_name": "Ingredients",
                      "on_hand": 0.0,
                      "unit_of_use": "each",
                      "unit_of_purchase": "each",
                      "unit_of_order": "each",
                      "unit_of_invoice": "each",
                      "unit_of_pick_and_ship": "each",
                      "unit_of_weight": "pound",
                      "unit_of_dimension": "inch",
                      "purchase_conversion": 1,
                      "property": "finished_good",
                      "sku": "1234",
                      "upc": "5678",
                      "pull_strategy": "FIFO",
                      "reorder_point": 0,
                      "lead_time": 0,
                      "retired": false,
                      "waste_percentage": 0,
                      "quantity_not_tracked": false,
                      "standard_cost": "0.0",
                      "conversions": [],
                      "weight": 100.0,
                      "height": 10.0,
                      "width": 10.0,
                      "length": 20.0,
                      "internal_photo_is_public": true,
                      "internal_description": "This is an internal description",
                      "internal_description_is_public": true,
                      "public_name": "New inventory item",
                      "public_description": "This is an internal description",
                      "show_hold_amounts": true,
                      "internal_name_is_public": true,
                      "receive_default_delivery_method_id": 1,
                      "receive_default_location_id": 1,
                      "receive_default_accept_rows": 1,
                      "receive_default_to_total_cost": true,
                      "receive_default_stock_status": "active",
                      "receive_require_barcode": false,
                      "receive_require_serial_number": false,
                      "receive_require_location": false,
                      "receive_require_expiration_date": false,
                      "receive_prefill_expiration_date": false,
                      "receive_expiration_date_days": 30,
                      "receive_allow_unit_of_receiving_change": true,
                      "receive_keep_quantity": true,
                      "receive_keep_unit_of_receiving": true,
                      "receive_keep_cost": true,
                      "receive_keep_vendor_item_number": true,
                      "receive_keep_location": true,
                      "receive_keep_expiration_date": true,
                      "receive_keep_stock_description": true,
                      "receive_allow_custom_field_entry": true,
                      "created_at": "2024-06-15T02:54:11.546Z",
                      "updated_at": "2024-06-15T02:54:11.546Z",
                      "custom_field_values": [
                        {
                          "id": 1,
                          "custom_field_id": 1,
                          "inventory_id": 1,
                          "active_stock_id": 1,
                          "value": "1",
                          "value_type": "number",
                          "created_at": "2021-08-23T14:25:37.200Z",
                          "updated_at": "2021-08-23T14:25:37.200Z",
                          "custom_field": {
                            "id": 1,
                            "name": "Test",
                            "value_type": "number",
                            "created_at": "2021-08-23T14:25:21.663Z",
                            "updated_at": "2021-08-23T14:25:21.663Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created"
          }
        },
        "operationId": "get_inventory_items",
        "description": "Returns a paginated list of all inventory items."
      },
      "post": {
        "summary": "Create inventory item",
        "tags": [
          "Inventory"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "create_inventory_item",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object"
              },
              "examples": {
                "example": {
                  "value": {
                    "name": "Whole milk",
                    "category_id": 1,
                    "unit_of_use": "gallon",
                    "unit_of_purchase": "gallon",
                    "unit_of_order": "gallon",
                    "unit_of_invoice": "gallon",
                    "unit_of_pick_and_ship": "gallon",
                    "unit_of_weight": null,
                    "unit_of_dimension": null,
                    "purchase_conversion": 1,
                    "property": "raw_material",
                    "sku": null,
                    "pull_strategy": "fifo",
                    "reorder_point": 50,
                    "lead_time": 1,
                    "retired": false,
                    "waste_percentage": 0,
                    "quantity_not_tracked": false,
                    "standard_cost": "0.0",
                    "weight": null,
                    "height": null,
                    "width": null,
                    "length": null
                  }
                }
              }
            }
          },
          "description": ""
        },
        "description": "Creates a new inventory item with the provided parameters."
      }
    },
    "/inventory/{inventory_id}/stocks": {
      "post": {
        "summary": "Add stock lot",
        "operationId": "add_stock_lot",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inventory"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 39,
                      "user_id": 1,
                      "inventory_id": 4,
                      "location_id": 1,
                      "lot_code": "1234",
                      "status": "active",
                      "barcode": null,
                      "details": "New",
                      "note": "This is a note!",
                      "count": "100.0",
                      "cost": "100.0",
                      "vendor_id": 1,
                      "expiration_date": "2020-04-01",
                      "created_at": "2020-09-12T18:25:13.143Z",
                      "updated_at": "2020-09-12T18:25:13.143Z",
                      "base_count": "100.0",
                      "rate": null,
                      "purchase_id": null,
                      "metrc_package_id": null,
                      "global_identifier": null,
                      "organization_id": 1
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Adds a new stock lot to the specified inventory item.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/active_stock"
              },
              "examples": {
                "Example": {
                  "value": {
                    "id": 31,
                    "name": "Chocolate bar",
                    "lot_code": "1234",
                    "status": "active",
                    "barcode": "barcode123456",
                    "details": "New",
                    "note": "This is a note!",
                    "count": "100.0",
                    "cost": "100.0",
                    "expiration_date": "2020-04-01",
                    "weight": null,
                    "height": null,
                    "width": null,
                    "length": null,
                    "created_at": "2021-09-07T19:30:50.528Z",
                    "updated_at": "2021-09-07T19:30:50.528Z",
                    "custom_field_values": [
                      { 
                        "id": 12,
                        "custom_field_id": 1,
                        "active_stock_id": 12345,
                        "inventory_id": 345677,
                        "value": "1223345",
                        "value_type": "text",
                        "created_at": "2021-09-07T19:30:50.528Z",
                        "updated_at": "2021-09-07T19:30:50.528Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Inventory"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "inventory_id",
          "in": "path",
          "required": true,
          "description": "inventory item record ID"
        }
      ]
    },
    "/inventory/last_adjustment": {
      "get": {
        "summary": "Get last stock lot change",
        "tags": [
          "Inventory"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "user_id": 1,
                      "user_first_name": "Tony",
                      "user_last_name": "Fiorello",
                      "reason": "purchase",
                      "lot_code": "WM001",
                      "old_lot_code": "WM001",
                      "barcode": "WM-000001-18",
                      "old_barcode": "WM-000001-18",
                      "details": "Whole milk",
                      "rate": null,
                      "cost": "200.0",
                      "count": "100.0",
                      "change": "100.0",
                      "absolute_change": "100.0",
                      "note": "buy lot 1",
                      "work_order": null,
                      "expiration_date": "2020-05-31",
                      "created_at": "2020-09-11T13:57:47.026Z",
                      "updated_at": "2020-09-11T13:57:47.026Z",
                      "stock": {
                        "id": 1,
                        "name": "Whole milk",
                        "lot_code": "WM001",
                        "status": "active",
                        "barcode": "WM-000001-18",
                        "details": "Whole milk",
                        "note": "buy lot WM001",
                        "count": "100.0",
                        "cost": "200.0",
                        "expiration_date": "2020-10-11",
                        "created_at": "2020-09-11T13:57:47.058Z",
                        "updated_at": "2020-09-11T13:57:47.058Z",
                        "inventory": {
                          "id": 1,
                          "name": "Whole milk",
                          "category_name": "Ingredients",
                          "on_hand": "1410.0",
                          "unit_of_use": "gallon",
                          "unit_of_purchase": "gallon",
                          "property": "raw_material",
                          "sku": null,
                          "created_at": "2020-09-11T13:57:46.825Z",
                          "updated_at": "2020-09-11T13:57:46.825Z"
                        },
                        "location": {
                          "id": 1,
                          "name": "North Warehouse"
                        },
                        "vendor": {
                          "id": 1,
                          "first_name": "Joe",
                          "last_name": "Sample",
                          "display_name": "Pacific Foods Co.",
                          "email": "jsample@pacificfoods.com",
                          "phone": "415-555-6758",
                          "mobile": null,
                          "fax": null,
                          "website": "https://wherefour.com",
                          "note": null,
                          "kind": "distributor",
                          "created_at": "2020-09-11T13:57:47.005Z",
                          "updated_at": "2020-09-11T13:57:47.005Z",
                          "custom_field_1": null,
                          "custom_field_2": null,
                          "custom_field_3": null,
                          "custom_field_4": null,
                          "business_license_number": null
                        },
                        "purchase": null
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_last_stock_lot_change",
        "description": "Gets the last stock lot change for the specified inventory item."
      }
    },
    "/inventory/search": {
      "get": {
        "summary": "Search for inventory item",
        "parameters": [
          {
             "in": "query",
             "name": "page",
             "description": "Results page to view",
             "schema": {
               "type": "integer"
             }
          }
        ],
        "tags": [
          "Inventory"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Total": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total count of results"
              },
              "Per-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of results per page"
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "URLs for the next or previous pages of the results"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inventory"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 3,
                      "name": "Bulk chocolate",
                      "category_name": "Ingredients",
                      "on_hand": 0.0,
                      "unit_of_use": "pound",
                      "unit_of_purchase": "pound",
                      "purchase_conversion": 1.0,
                      "property": "work_in_progress",
                      "sku": "123456",
                      "pull_strategy": "Hand Pick",
                      "reorder_point": 10.0,
                      "lead_time": 0,
                      "retired": false,
                      "waste_percentage": 0.0,
                      "created_at": "2020-09-11T13:57:46.825Z",
                      "updated_at": "2020-09-11T13:57:46.825Z"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "search_inventory",
        "description": "Returns inventory items that match the given name or SKU. Multiple matches may be returned.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Name": {
                  "value": {
                    "name": "Product Name Here"
                  }
                },
                "Single SKU": {
                  "value": {
                    "sku_list": "123456"
                  }
                },
                "Multiple SKUs": {
                  "value": {
                    "sku_list": [
                      "SK001",
                      "SK002"
                    ]
                  }
                }
              }
            }
          },
          "description": "Search can be performed based on EITHER the inventory item name, OR a single SKU or an array of SKUs. The inventory item name will take precedence over the SKU parameter. Multiple matches may be returned."
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "List customers",
        "parameters": [
          {
             "in": "query",
             "name": "updated_at",
             "description": "Oldest date/time for the records to return",
             "schema": {
               "type": "string"
             }
          },
          {
             "in": "query",
             "name": "page",
             "description": "Results page to view",
             "schema": {
               "type": "integer"
             }
          }
        ],
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Total": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total count of results"
              },
              "Per-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of results per page"
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "URLs for the next or previous pages of the results"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "first_name": "",
                      "last_name": "",
                      "display_name": "Embarcadero Market & Deli",
                      "email": "buyer@embarcaderodeli.com",
                      "phone": "415-555-6687",
                      "mobile": "",
                      "fax": "",
                      "website": "https://wherefour.com",
                      "kind": "retailer",
                      "created_at": "2020-09-11T13:57:46.742Z",
                      "updated_at": "2020-09-11T13:57:46.742Z",
                      "payment_terms": "Net 30",
                      "delivery_method": "Route: Embarcadero North",
                      "block_shipments": false,
                      "billing_address": {
                        "id": 1,
                        "line1": "1142 Main Street",
                        "line2": "Suite 100",
                        "city": "San Francisco",
                        "country_subdivision_code": "CA",
                        "postal_code": "94455",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      },
                      "shipping_address": {
                        "id": 2,
                        "line1": "415 S. Pine Street",
                        "line2": "Suite 210",
                        "line3": "Apt. G",
                        "city": "Petaluma",
                        "country_subdivision_code": "CA",
                        "postal_code": "94954",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_customers",
        "description": "Returns a paginated list of customers."
      },
      "post": {
        "summary": "Create a customer",
        "operationId": "create_customer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 1,
                      "first_name": "",
                      "last_name": "",
                      "display_name": "Embarcadero Market & Deli",
                      "email": "buyer@embarcaderodeli.com",
                      "phone": "415-555-6687",
                      "mobile": "",
                      "fax": "",
                      "website": "https://wherefour.com",
                      "kind": "retailer",
                      "created_at": "2020-09-11T13:57:46.742Z",
                      "updated_at": "2020-09-11T13:57:46.742Z",
                      "payment_terms": "Net 30",
                      "delivery_method": "Route: Embarcadero North",
                      "block_shipments": false,
                      "billing_address": {
                        "id": 1,
                        "line1": "1142 Main Street",
                        "line2": "Suite 100",
                        "city": "San Francisco",
                        "country_subdivision_code": "CA",
                        "postal_code": "94455",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      },
                      "shipping_address": {
                        "id": 2,
                        "line1": "415 S. Pine Street",
                        "line2": "Suite 210",
                        "line3": "Apt. G",
                        "city": "Petaluma",
                        "country_subdivision_code": "CA",
                        "postal_code": "94954",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new customer record.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "customer": {
                      "first_name": "John",
                      "middle_name": null,
                      "last_name": "Smith",
                      "display_name": "John Smith",
                      "email": "test@example.com",
                      "phone": "555-1212",
                      "mobile": "555-2222",
                      "fax": "555-3333",
                      "website": "https://website.com",
                      "note": "This is a customer note.",
                      "custom_field_1": null,
                      "custom_field_2": null,
                      "custom_field_3": null,
                      "custom_field_4": null,
                      "business_license_number": "123",
                      "block_shipments": false,
                      "billing_address_attributes": {
                        "line1": "123 Main",
                        "line2": null,
                        "line3": null,
                        "line4": null,
                        "line5": null,
                        "city": null,
                        "country_subdivision_code": null,
                        "postal_code": null,
                        "country": null
                      },
                      "shipping_address_attributes": {
                        "line1": "555 Main",
                        "line2": null,
                        "line3": null,
                        "line4": null,
                        "line5": null,
                        "city": null,
                        "country_subdivision_code": null,
                        "postal_code": null,
                        "country": null
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers/{customer_id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "customer record ID"
        }
      ],
      "get": {
        "summary": "Get Customer",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "first_name": "",
                      "last_name": "",
                      "display_name": "Embarcadero Market & Deli",
                      "email": "buyer@embarcaderodeli.com",
                      "phone": "415-555-6687",
                      "mobile": "",
                      "fax": "",
                      "website": "https://wherefour.com",
                      "kind": "retailer",
                      "created_at": "2020-09-11T13:57:46.742Z",
                      "updated_at": "2020-09-11T13:57:46.742Z",
                      "payment_terms": "Net 30",
                      "delivery_method": "Route: Embarcadero North",
                      "block_shipments": false,
                      "billing_address": {
                        "id": 1,
                        "line1": "1142 Main Street",
                        "line2": "Suite 100",
                        "city": "San Francisco",
                        "country_subdivision_code": "CA",
                        "postal_code": "94455",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      },
                      "shipping_address": {
                        "id": 2,
                        "line1": "415 S. Pine Street",
                        "line2": "Suite 210",
                        "line3": "Apt. G",
                        "city": "Petaluma",
                        "country_subdivision_code": "CA",
                        "postal_code": "94954",
                        "created_at": "2020-09-11T13:57:46.802Z",
                        "updated_at": "2020-09-11T13:57:46.802Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_customer",
        "description": "Returns the customer record for the specified ID."
      },
      "patch": {
        "summary": "Update a Customer",
        "operationId": "update_customer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                }
              }
            }
          }
        },
        "description": "Updates the customer record for the specified ID.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Example": {
                  "value": {
                    "customer": {
                      "first_name": "John",
                      "middle_name": null,
                      "last_name": "Smith",
                      "display_name": "John A Smith",
                      "email": "test@example.com",
                      "phone": "555-1212",
                      "mobile": "555-2222",
                      "fax": "555-3333",
                      "website": "https://website.com",
                      "note": "This is a customer note.",
                      "custom_field_1": null,
                      "custom_field_2": null,
                      "custom_field_3": null,
                      "custom_field_4": null,
                      "business_license_number": "123",
                      "block_shipments": false,
                      "billing_address_attributes": {
                        "line1": "123 Main",
                        "line2": null,
                        "line3": null,
                        "line4": null,
                        "line5": null,
                        "city": null,
                        "country_subdivision_code": null,
                        "postal_code": null,
                        "country": null
                      },
                      "shipping_address_attributes": {
                        "line1": "555 Main",
                        "line2": null,
                        "line3": null,
                        "line4": null,
                        "line5": null,
                        "city": null,
                        "country_subdivision_code": null,
                        "postal_code": null,
                        "country": null
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers/{customer_id}/orders": {
      "summary": "List all the orders for a customer",
      "description": "Returns a paginated list of all the orders for a specific customer ID.",
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List orders for a customer",
        "parameters": [
          {
             "in": "query",
             "name": "updated_at",
             "description": "Oldest date/time for the records to return",
             "schema": {
               "type": "string"
             }
          },
          {
             "in": "query",
             "name": "page",
             "description": "Results page to view",
             "schema": {
               "type": "integer"
             }
          }
        ],
        "description": "Returns all the orders for the customer ID provided.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Total": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total count of results"
              },
              "Per-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of results per page"
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "URLs for the next or previous pages of the results"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "first_name": "",
                      "last_name": "",
                      "display_name": "Embarcadero Distribution",
                      "email": "buyer@embarcado.com",
                      "phone": "415-555-6687",
                      "mobile": "",
                      "fax": "",
                      "website": "https://wherefour.com",
                      "note": null,
                      "kind": "retailer",
                      "sales_channel_id": null,
                      "origin": "wherefour",
                      "created_at": "2024-02-22T18:29:42.249Z",
                      "updated_at": "2024-02-22T18:29:42.249Z",
                      "custom_field_1": null,
                      "custom_field_2": null,
                      "custom_field_3": null,
                      "custom_field_4": null,
                      "business_license_number": "404-X0001",
                      "payment_terms": "Net 30",
                      "salesperson": "",
                      "delivery_method": {},
                      "delivery_method_id": 6,
                      "default_special_instructions": "Deliver to back dock 12",
                      "sales_channel": null,
                      "billing_address": {
                        "id": 1,
                        "type": "BillingAddress",
                        "descriptive_name": "Default Billing",
                        "line1": "1142 Main Street",
                        "line2": "Suite 100",
                        "line3": null,
                        "line4": null,
                        "line5": null,
                        "city": "San Francisco",
                        "country_subdivision_code": "CA",
                        "postal_code": "94455",
                        "country": "USA",
                        "created_at": "2024-02-22T18:29:42.099Z",
                        "updated_at": "2024-02-22T18:29:42.099Z"
                      },
                      "shipping_address": {
                        "id": 2,
                        "type": "ShippingAddress",
                        "descriptive_name": "Default Shipping",
                        "line1": "415 S. Pine Street",
                        "line2": "Suite 210",
                        "line3": "Apt. G",
                        "line4": null,
                        "line5": null,
                        "city": "Petaluma",
                        "country_subdivision_code": "CA",
                        "postal_code": "94954",
                        "country": "USA",
                        "created_at": "2024-02-22T18:29:42.099Z",
                        "updated_at": "2024-02-22T18:29:42.099Z"
                      },
                      "delivery_driver": null,
                      "delivery_vehicle": null,
                      "addresses": [
                        {
                          "id": 1,
                          "type": "BillingAddress",
                          "descriptive_name": "Default Billing",
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "line3": null,
                          "line4": null,
                          "line5": null,
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "country": "USA",
                          "created_at": "2024-02-22T18:29:42.099Z",
                          "updated_at": "2024-02-22T18:29:42.099Z"
                        },
                        {
                          "id": 2,
                          "type": "ShippingAddress",
                          "descriptive_name": "Default Shipping",
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "line4": null,
                          "line5": null,
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "country": "USA",
                          "created_at": "2024-02-22T18:29:42.099Z",
                          "updated_at": "2024-02-22T18:29:42.099Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "list_orders"
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "description": "Creates a new order for the customer.",
        "summary": "Create Order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Example": {
                  "value": {
                    "order_number": "SO100",
                    "order_date": "2020-09-04",
                    "deliver_date": "2020-09-04",
                    "produce_date": "2020-09-04",
                    "po_number": "12345",
                    "payment_term_id": null,
                    "status": "open",
                    "origin": "wherefour",
                    "salesperson_id": null,
                    "payment_terms": null,
                    "delivery_method_id": 1,
                    "instructions": null,
                    "subtotal": 100,
                    "discount": 0,
                    "tax": 0,
                    "shipping": 0,
                    "total": 0,
                    "order_items_attributes": [
                      {
                        "inventory_id": 4,
                        "count": 10,
                        "unit_price": 100,
                        "override_unit_price": 0
                      },
                      {
                        "inventory_id": 6,
                        "count": 5,
                        "unit_price": 0,
                        "override_unit_price": 0
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 14,
                      "order_date": "2020-09-04",
                      "produce_date": "2020-09-04",
                      "deliver_date": "2020-09-04",
                      "po_number": "12345",
                      "status": "open",
                      "instructions": "",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "origin": "wherefour",
                      "order_number": "SO100",
                      "created_at": "2020-09-12T18:25:54.054Z",
                      "updated_at": "2020-09-12T18:25:54.054Z",
                      "invoiced_at": "2020-09-12T18:25:54.054Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "note": "",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "custom_field_1": "",
                        "custom_field_2": "",
                        "custom_field_3": "",
                        "custom_field_4": "",
                        "business_license_number": "",
                        "payment_terms": "Net 30",
                        "salesperson": "",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "line3": "",
                          "line4": "",
                          "line5": "",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "country": "",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "line4": "",
                          "line5": "",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "country": "",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping",
                        "instructions": ""
                      },
                      "salesperson": "",
                      "payment_term": "",
                      "order_items": [
                        {
                          "id": 28,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "10.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T18:25:54.062Z",
                          "updated_at": "2020-09-12T18:25:54.062Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "1165.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "purchase_conversion": "1.0",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "pull_strategy": "FEFO",
                            "reorder_point": "0.0",
                            "lead_time": 0,
                            "retired": false,
                            "waste_percentage": "0.0",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        },
                        {
                          "id": 29,
                          "name": "Chocolate bar, finished case",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "5.0",
                          "cost": "0.0",
                          "sku": "SK0002",
                          "created_at": "2020-09-12T18:25:54.066Z",
                          "updated_at": "2020-09-12T18:25:54.066Z",
                          "inventory": {
                            "id": 6,
                            "name": "Chocolate bar, finished case",
                            "category_name": "Products",
                            "on_hand": "0.0",
                            "unit_of_use": "case",
                            "unit_of_purchase": "case",
                            "purchase_conversion": "1.0",
                            "property": "finished_good",
                            "sku": "SK0002",
                            "pull_strategy": "FIFO",
                            "reorder_point": "0.0",
                            "lead_time": 0,
                            "retired": false,
                            "waste_percentage": "0.0",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "create_order"
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "customer record ID"
        }
      ]
    },
    "/customers/{customer_id}/invoices": {
      "summary": "Customer invoices",
      "description": "Customer invoices",
      "get": {
        "tags": [
          "Invoices"
        ],
        "description": "Lists invoices for a customer",
        "summary": "List customer invoices",
        "operationId": "list_customer_invoices",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 2,
                      "invoice_date": "2024-02-22",
                      "status": "draft",
                      "instructions": "",
                      "subtotal": "300.0",
                      "discount": "10.0",
                      "tax": "",
                      "shipping": "25.0",
                      "total": "315.0",
                      "invoice_number": "INV2",
                      "created_at": "2024-02-22T18:29:42.330Z",
                      "updated_at": "2024-02-22T18:29:42.330Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Distribution",
                        "email": "buyer@embarcado.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "note": "",
                        "kind": "retailer",
                        "sales_channel_id": null,
                        "created_at": "2024-02-22T18:29:42.249Z",
                        "updated_at": "2024-02-22T18:29:42.249Z",
                        "custom_field_1": "",
                        "custom_field_2": "",
                        "custom_field_3": "",
                        "custom_field_4": "",
                        "business_license_number": "404-X0001",
                        "payment_terms": "Net 30",
                        "salesperson": "",
                        "delivery_method": "Route: Embarcadero North",
                        "delivery_method_id": 6,
                        "default_special_instructions": "Deliver to back dock 12"
                      },
                      "sales_channel": null,
                      "invoice_items": [
                        {
                          "id": 3,
                          "name": "Finished good B",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "20.0",
                          "cost": "2.5",
                          "sku": "SK0001",
                          "created_at": "2024-02-22T18:29:42.323Z",
                          "updated_at": "2024-02-22T18:29:42.323Z"
                        },
                        {
                          "id": 4,
                          "name": "Case of finished good B",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "10.0",
                          "cost": "25.0",
                          "sku": "SK0002",
                          "created_at": "2024-02-22T18:29:42.323Z",
                          "updated_at": "2024-02-22T18:29:42.323Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "description": "Creates a new invoice for the customer.",
        "summary": "Create Invoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Example": {
                  "value": {
                    "invoice_number": "INV100",
                    "invoice_date": "2020-09-04",
                    "payment_term_id": null,
                    "status": "open",
                    "salesperson_id": null,
                    "payment_terms": null,
                    "delivery_method_id": 1,
                    "instructions": null,
                    "subtotal": 100,
                    "discount": 0,
                    "tax": 0,
                    "shipping": 0,
                    "total": 0,
                    "invoice_items_attributes": [
                      {
                        "inventory_id": 4,
                        "count": 10,
                        "unit_price": 100,
                        "override_unit_price": 0
                      },
                      {
                        "inventory_id": 6,
                        "count": 5,
                        "unit_price": 0,
                        "override_unit_price": 0
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 14,
                      "invoice_date": "2020-09-04",
                      "po_number": "12345",
                      "status": "open",
                      "order_id": 1,
                      "instructions": "",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "invoice_number": "INV100",
                      "created_at": "2020-09-12T18:25:54.054Z",
                      "updated_at": "2020-09-12T18:25:54.054Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "note": "",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "custom_field_1": "",
                        "custom_field_2": "",
                        "custom_field_3": "",
                        "custom_field_4": "",
                        "business_license_number": "",
                        "payment_terms": "Net 30",
                        "salesperson": "",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "line3": "",
                          "line4": "",
                          "line5": "",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "country": "",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "line4": "",
                          "line5": "",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "country": "",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping",
                        "instructions": ""
                      },
                      "salesperson": "",
                      "payment_term": "",
                      "invoice_items": [
                        {
                          "id": 28,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "10.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T18:25:54.062Z",
                          "updated_at": "2020-09-12T18:25:54.062Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "1165.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "purchase_conversion": "1.0",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "pull_strategy": "FEFO",
                            "reorder_point": "0.0",
                            "lead_time": 0,
                            "retired": false,
                            "waste_percentage": "0.0",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        },
                        {
                          "id": 29,
                          "name": "Chocolate bar, finished case",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "5.0",
                          "cost": "0.0",
                          "sku": "SK0002",
                          "created_at": "2020-09-12T18:25:54.066Z",
                          "updated_at": "2020-09-12T18:25:54.066Z",
                          "inventory": {
                            "id": 6,
                            "name": "Chocolate bar, finished case",
                            "category_name": "Products",
                            "on_hand": "0.0",
                            "unit_of_use": "case",
                            "unit_of_purchase": "case",
                            "purchase_conversion": "1.0",
                            "property": "finished_good",
                            "sku": "SK0002",
                            "pull_strategy": "FIFO",
                            "reorder_point": "0.0",
                            "lead_time": 0,
                            "retired": false,
                            "waste_percentage": "0.0",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "create_invoice"
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "customer record ID"
        }
      ]
    },
    "/customers/{customer_id}/orders/{order_id}": {
      "summary": "Update order",
      "description": "Updates an existing order",
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "order_id",
          "in": "path",
          "required": true,
          "description": "order record ID"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "customer record ID"
        }
      ],
      "patch": {
        "summary": "Update Order",
        "operationId": "update_order",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 6,
                      "order_date": "2020-09-04",
                      "produce_date": "2020-09-04",
                      "deliver_date": "2020-09-04",
                      "po_number": "12345",
                      "status": "open",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "order_number": "SO100",
                      "created_at": "2020-09-12T16:13:45.549Z",
                      "updated_at": "2020-09-12T16:13:45.549Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "payment_terms": "Net 30",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping"
                      },
                      "order_items": [
                        {
                          "id": 10,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T16:13:45.568Z",
                          "updated_at": "2020-09-12T16:13:45.568Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "75.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        },
                        {
                          "id": 11,
                          "name": "Chocolate bar, finished case",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0002",
                          "created_at": "2020-09-12T16:13:45.574Z",
                          "updated_at": "2020-09-12T16:13:45.574Z",
                          "inventory": {
                            "id": 6,
                            "name": "Chocolate bar, finished case",
                            "category_name": "Products",
                            "on_hand": "40.0",
                            "unit_of_use": "case",
                            "unit_of_purchase": "case",
                            "property": "finished_good",
                            "sku": "SK0002",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates an existing order",
        "tags": [
          "Orders"
        ]
      }
    },
    "/customers/{customer_id}/orders/{order_id}/last_shipment": {
      "summary": "Get the last shipment for an order",
      "description": "Returns the most recent shipment information for the order ID provided.",
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get Last Shipment",
        "description": "Returns the most recent shipment information for the order ID provided.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "order_id": 2,
                      "user_name": "Tony Fiorello",
                      "ship_date": "2020-09-12T16:48:00.000Z",
                      "shipment_number": 1,
                      "tracking_number": null,
                      "note": null,
                      "created_at": "2020-09-12T16:48:13.512Z",
                      "updated_at": "2020-09-12T16:48:13.512Z",
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping",
                        "instructions": ""
                      },
                      "order": {
                        "id": 2,
                        "order_date": "2020-09-10",
                        "produce_date": "2020-09-11",
                        "deliver_date": "2020-09-11",
                        "po_number": "123456-55",
                        "status": "invoiced",
                        "salesperson_id": null,
                        "salesperson_name": null,
                        "delivery_method_id": 1,
                        "instructions": "\nShipment #1: 09/12/20\n10.0 Each - Chocolate bar (lot code: SC-00000)\n40.0 Cases - Chocolate bar, finished case (lot code: SCC-0000)\n",
                        "subtotal": "1400.0",
                        "discount": "0.00",
                        "tax": "0.00",
                        "shipping": "0.00",
                        "total": "1400.0",
                        "order_number": "SO2",
                        "payment_term_id": 1,
                        "created_at": "2020-09-11T13:57:46.842Z",
                        "updated_at": "2020-09-12T16:48:13.688Z",
                        "invoiced_at": "2020-09-11T00:00:00.000Z"
                      },
                      "shipment_items": [
                        {
                          "id": 1,
                          "count": "10.0",
                          "inventory_name": "Chocolate bar",
                          "inventory_sku": "SK0001",
                          "auto_ship": [
                            {
                              "adjustment_id": 25,
                              "stock_id": 13,
                              "lot_code": "SC-00000",
                              "barcode": "CH-000001-18",
                              "count": "10.0",
                              "change": "-10.0",
                              "reason": "shipment"
                            }
                          ]
                        },
                        {
                          "id": 2,
                          "count": "40.0",
                          "inventory_name": "Chocolate bar, finished case",
                          "inventory_sku": "SK0002",
                          "auto_ship": [
                            {
                              "adjustment_id": 26,
                              "stock_id": 14,
                              "lot_code": "SCC-0000",
                              "barcode": "CHCA-000001-18",
                              "count": "40.0",
                              "change": "-40.0",
                              "reason": "shipment"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_last_shipment"
      },
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "example": 1,
          "required": true,
          "deprecated": false,
          "schema": {
            "type": "integer"
          },
          "description": "customer record ID"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "order_id",
          "in": "path",
          "required": true,
          "description": "order record ID"
        }
      ]
    },
    "/customers/kinds": {
      "get": {
        "summary": "List customer kinds",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Example": {
                    "value": {}
                  }
                }
              }
            }
          }
        },
        "operationId": "get_customer_kinds",
        "description": "Returns of list of customer types."
      }
    },
    "/customers/{customer_id}/orders/{order_id}/shipments": {
      "summary": "List all the shipments for an order",
      "description": "Returns a paginated list of all the shipments for a specific order ID.",
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List shipments for order",
        "parameters": [
          {
             "in": "query",
             "name": "page",
             "description": "Results page to view",
             "schema": {
               "type": "integer"
             }
          }
        ],
        "description": "Returns the most recent shipment information for the order ID provided.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Total": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total count of results"
              },
              "Per-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of results per page"
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "URLs for the next or previous pages of the results"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1,
                      "order_id": 2,
                      "user_name": "Tony Fiorello",
                      "ship_date": "2020-09-12T16:48:00.000Z",
                      "shipment_number": 1,
                      "tracking_number": null,
                      "note": null,
                      "created_at": "2020-09-12T16:48:13.512Z",
                      "updated_at": "2020-09-12T16:48:13.512Z",
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping",
                        "instructions": ""
                      },
                      "order": {
                        "id": 2,
                        "order_date": "2020-09-10",
                        "produce_date": "2020-09-11",
                        "deliver_date": "2020-09-11",
                        "po_number": "123456-55",
                        "status": "invoiced",
                        "salesperson_id": "",
                        "salesperson_name": "",
                        "delivery_method_id": 1,
                        "instructions": "\nShipment #1: 09/12/20\n10.0 Each - Chocolate bar (lot code: SC-00000)\n40.0 Cases - Chocolate bar, finished case (lot code: SCC-0000)\n",
                        "subtotal": "1400.0",
                        "discount": "",
                        "tax": "",
                        "shipping": "",
                        "total": "1400.0",
                        "order_number": "SO2",
                        "payment_term_id": 1,
                        "created_at": "2020-09-11T13:57:46.842Z",
                        "updated_at": "2020-09-12T16:48:13.688Z",
                        "invoiced_at": "2020-09-11T00:00:00.000Z"
                      },
                      "shipment_items": [
                        {
                          "id": 1,
                          "count": "10.0",
                          "inventory_name": "Chocolate bar",
                          "inventory_sku": "SK0001",
                          "auto_ship": [
                            {
                              "adjustment_id": 25,
                              "stock_id": 13,
                              "lot_code": "SC-00000",
                              "barcode": "CH-000001-18",
                              "count": "10.0",
                              "change": "-10.0",
                              "reason": "shipment"
                            }
                          ]
                        },
                        {
                          "id": 2,
                          "count": "40.0",
                          "inventory_name": "Chocolate bar, finished case",
                          "inventory_sku": "SK0002",
                          "auto_ship": [
                            {
                              "adjustment_id": 26,
                              "stock_id": 14,
                              "lot_code": "SCC-0000",
                              "barcode": "CHCA-000001-18",
                              "count": "40.0",
                              "change": "-40.0",
                              "reason": "shipment"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "list_shipments"
      },
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "example": 1,
          "required": true,
          "deprecated": false,
          "schema": {
            "type": "integer"
          },
          "description": "customer record ID"
        },
        {
          "name": "order_id",
          "in": "path",
          "example": 2,
          "required": true,
          "deprecated": false,
          "schema": {
            "type": "integer"
          },
          "description": "order record ID"
        }
      ]
    },
    "/customers/{customer_id}/invoices/{invoice_id}": {
      "summary": "Update invoice",
      "description": "Updates an existing invoice",
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "invoice_id",
          "in": "path",
          "required": true,
          "description": "invoice record ID"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "customer record ID"
        }
      ],
      "patch": {
        "summary": "Update invoice",
        "operationId": "update_invoice",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 6,
                      "invoice_date": "2020-09-04",
                      "status": "draft",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "invoice_number": "INV100",
                      "created_at": "2020-09-12T16:13:45.549Z",
                      "updated_at": "2020-09-12T16:13:45.549Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "payment_terms": "Net 30",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping"
                      },
                      "invoice_items": [
                        {
                          "id": 10,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "0.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T16:13:45.568Z",
                          "updated_at": "2020-09-12T16:13:45.568Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "75.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates an existing invoice",
        "tags": [
          "Invoices"
        ]
      }
    },
    "/customers/{customer_id}/quotes": {
      "summary": "Quotes for a customer",
      "description": "Quotes for a customer",
      "get": {
        "tags": [
          "Quotes"
        ],
        "description": "Lists the quotes for a the customer.",
        "summary": "List quotes for a customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Example": {
                  "value": { 
                    "id": 1,
                    "quote_date": "2024-02-22",
                    "expiration_date": "2024-03-23",
                    "status": "draft",
                    "instructions": null,
                    "subtotal": "300.0",
                    "discount": "10.0",
                    "tax": "0.0",
                    "shipping": "25.0",
                    "total": "340.0",
                    "quote_number": "QO1",
                    "created_at": "2024-02-22T18:29:42.552Z",
                    "updated_at": "2024-02-22T18:29:42.552Z",
                    "billing_address": {
                      "id": 1,
                      "type": "BillingAddress",
                      "descriptive_name": "Default Billing",
                      "line1": "1142 Main Street",
                      "line2": "Suite 100",
                      "line3": null,
                      "line4": null,
                      "line5": null,
                      "city": "San Francisco",
                      "country_subdivision_code": "CA",
                      "postal_code": "94455",
                      "country": "USA",
                      "created_at": "2024-02-22T18:29:42.099Z",
                      "updated_at": "2024-02-22T18:29:42.099Z"
                    },
                    "shipping_address": {
                      "id": 2,
                      "type": "ShippingAddress",
                      "descriptive_name": "Default Shipping",
                      "line1": "415 S. Pine Street",
                      "line2": "Suite 210",
                      "line3": "Apt. G",
                      "line4": null,
                      "line5": null,
                      "city": "Petaluma",
                      "country_subdivision_code": "CA",
                      "postal_code": "94954",
                      "country": "USA",
                      "created_at": "2024-02-22T18:29:42.099Z",
                      "updated_at": "2024-02-22T18:29:42.099Z"
                    },
                    "customer": {
                      "id": 1,
                      "first_name": "",
                      "last_name": "",
                      "display_name": "Embarcadero Distribution",
                      "email": "buyer@embarcado.com",
                      "phone": "415-555-6687",
                      "mobile": "",
                      "fax": "",
                      "website": "https://wherefour.com",
                      "note": null,
                      "kind": "retailer",
                      "sales_channel_id": null,
                      "created_at": "2024-02-22T18:29:42.249Z",
                      "updated_at": "2024-02-22T18:29:42.249Z",
                      "custom_field_1": null,
                      "custom_field_2": null,
                      "custom_field_3": null,
                      "custom_field_4": null,
                      "business_license_number": "404-X0001",
                      "payment_terms": "Net 30",
                      "salesperson": null,
                      "delivery_method": "Route: Embarcadero North",
                      "delivery_method_id": 6,
                      "default_special_instructions": "Deliver to back dock 12"
                    },
                    "sales_channel": null,
                    "quote_items": [
                      {
                        "id": 1,
                        "name": "Finished good B",
                        "inventory_id": 4,
                        "category_name": "Products",
                        "count": "20.0",
                        "cost": "2.5",
                        "sku": "SK0001",
                        "created_at": "2024-02-22T18:29:42.541Z",
                        "updated_at": "2024-02-22T18:29:42.541Z"
                      },
                      {
                        "id": 2,
                        "name": "Case of finished good B",
                        "inventory_id": 6,
                        "category_name": "Products",
                        "count": "10.0",
                        "cost": "25.0",
                        "sku": "SK0002",
                        "created_at": "2024-02-22T18:29:42.541Z",
                        "updated_at": "2024-02-22T18:29:42.541Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quote"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 14,
                      "quote_date": "2020-09-04",
                      "expiration_date": "2020-09-04",
                      "po_number": "12345",
                      "status": "open",
                      "instructions": "",
                      "subtotal": "100.0",
                      "discount": "0.0",
                      "tax": "0.0",
                      "shipping": "0.0",
                      "total": "0.0",
                      "quote_number": "QO100",
                      "created_at": "2020-09-12T18:25:54.054Z",
                      "updated_at": "2020-09-12T18:25:54.054Z",
                      "customer": {
                        "id": 1,
                        "first_name": "",
                        "last_name": "",
                        "display_name": "Embarcadero Market & Deli",
                        "email": "buyer@embarcaderodeli.com",
                        "phone": "415-555-6687",
                        "mobile": "",
                        "fax": "",
                        "website": "https://wherefour.com",
                        "note": "",
                        "kind": "retailer",
                        "created_at": "2020-09-11T13:57:46.742Z",
                        "updated_at": "2020-09-11T13:57:46.742Z",
                        "custom_field_1": "",
                        "custom_field_2": "",
                        "custom_field_3": "",
                        "custom_field_4": "",
                        "business_license_number": "",
                        "payment_terms": "Net 30",
                        "salesperson": "",
                        "delivery_method": "Route: Embarcadero North",
                        "billing_address": {
                          "id": 1,
                          "line1": "1142 Main Street",
                          "line2": "Suite 100",
                          "line3": "",
                          "line4": "",
                          "line5": "",
                          "city": "San Francisco",
                          "country_subdivision_code": "CA",
                          "postal_code": "94455",
                          "country": "",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        },
                        "shipping_address": {
                          "id": 2,
                          "line1": "415 S. Pine Street",
                          "line2": "Suite 210",
                          "line3": "Apt. G",
                          "line4": "",
                          "line5": "",
                          "city": "Petaluma",
                          "country_subdivision_code": "CA",
                          "postal_code": "94954",
                          "country": "",
                          "created_at": "2020-09-11T13:57:46.802Z",
                          "updated_at": "2020-09-11T13:57:46.802Z"
                        }
                      },
                      "delivery_method": {
                        "id": 1,
                        "name": "UPS Ground",
                        "kind": "shipping",
                        "instructions": ""
                      },
                      "salesperson": "",
                      "payment_term": "",
                      "quote_items": [
                        {
                          "id": 28,
                          "name": "Chocolate bar",
                          "inventory_id": 4,
                          "category_name": "Products",
                          "count": "10.0",
                          "cost": "0.0",
                          "sku": "SK0001",
                          "created_at": "2020-09-12T18:25:54.062Z",
                          "updated_at": "2020-09-12T18:25:54.062Z",
                          "inventory": {
                            "id": 4,
                            "name": "Chocolate bar",
                            "category_name": "Products",
                            "on_hand": "1165.0",
                            "unit_of_use": "each",
                            "unit_of_purchase": "each",
                            "purchase_conversion": "1.0",
                            "property": "finished_good",
                            "sku": "SK0001",
                            "pull_strategy": "FEFO",
                            "reorder_point": "0.0",
                            "lead_time": 0,
                            "retired": false,
                            "waste_percentage": "0.0",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        },
                        {
                          "id": 29,
                          "name": "Chocolate bar, finished case",
                          "inventory_id": 6,
                          "category_name": "Products",
                          "count": "5.0",
                          "cost": "0.0",
                          "sku": "SK0002",
                          "created_at": "2020-09-12T18:25:54.066Z",
                          "updated_at": "2020-09-12T18:25:54.066Z",
                          "inventory": {
                            "id": 6,
                            "name": "Chocolate bar, finished case",
                            "category_name": "Products",
                            "on_hand": "0.0",
                            "unit_of_use": "case",
                            "unit_of_purchase": "case",
                            "purchase_conversion": "1.0",
                            "property": "finished_good",
                            "sku": "SK0002",
                            "pull_strategy": "FIFO",
                            "reorder_point": "0.0",
                            "lead_time": 0,
                            "retired": false,
                            "waste_percentage": "0.0",
                            "created_at": "2020-09-11T13:57:46.825Z",
                            "updated_at": "2020-09-11T13:57:46.825Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_quote"
      },
      "post": {
        "tags": [
          "Quotes"
        ],
        "description": "Creates a new quote for the customer.",
        "summary": "Create Quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Example": {
                  "value": {
                    "quote_number": "QO100",
                    "quote_date": "2020-09-04",
                    "expiration_date": "2020-09-04",
                    "payment_term_id": null,
                    "status": "open",
                    "salesperson_id": null,
                    "payment_terms": null,
                    "delivery_method_id": 1,
                    "instructions": null,
                    "subtotal": 100,
                    "discount": 0,
                    "tax": 0,
                    "shipping": 0,
                    "total": 0,
                    "quote_items_attributes": [
                      {
[...]
